{% extends "users/dashboard.html" %} 

{% block body %}

{% block script %}
{{ block.super }}
{% endblock script %}


<img src = "/static/main/assets/img/favicon.png"  class="w3-center" height="70px"  style="padding-bottom:20px;margin:auto;display:block;">

        <form
            style="margin:auto; padding-bottom: 50px;padding-top:10px; max-width: 700px;border-radius: 10px; margin-bottom: 200px;background-color: whitesmoke;"
            id="auth1" class="w3-container w3-center w3-animate-left" method="POST" action="/users/login/">
            <legend class=" w3-large w3-padding w3-text-blue  " style="font-weight:bold"> Sign In to your Account </legend>
            {% csrf_token %}

            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="email" type="email"
                    placeholder="Email Address" required maxlength="255" minlength="8">
            </div>
            <br>
            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="password" type="password"
                    placeholder="Password" required>
            </div>

            <br>

            <!-- <input type="hidden" value="local" name="transfer_type"> -->
            <p onclick = "toggleAuthForms(2)" style="text-decoration: underline;cursor:pointer;" class="w3-medium w3-center w3-block" > Create New Account </p>

            <input
                style="width: 70%;max-width: 400px;background-color: darkgreen;font-weight: bold;color: white;border-radius: 4px;"
                type="submit" value="Log In" class="w3-button  w3-padding-16 w3-margin-top">





        </form>







        <form
            style="display:none;margin:auto; border-radius: 10px;padding-bottom: 50px;padding-top:10px; background-color: whitesmoke;max-width: 700px; margin-bottom: 200px;"
            id="auth2" class="w3-container w3-center w3-animate-left" method="POST" action="/users/new/">

            <legend class="w3-large w3-padding w3-text-blue" style="font-weight:bold"> Create A New Account  </legend>
            {% csrf_token %}

            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="firstname" type="text"
                    placeholder="Firstname" required maxlength="35">
            </div>
            <br>


            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="lastname" type="text"
                    placeholder="Lastname" required maxlength="64">
            </div>
            <br>

            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="email" type="email"
                    placeholder="Email Address" required maxlength="255" minlength="8">
            </div>
            <br>

            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="phone" type="telephone"
                    placeholder="Phone" required maxlength="11">
            </div>
            
            <br>

            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="pswd1" type="password"
                    placeholder="Password" required maxlength="25">
            </div>
            
            <br>


            <div class="w3-margin">
                <input style="width:80%;max-width: 650px;border-radius: 4px;"
                    class="w3-padding w3-border w3-border-dark-gray w3-large" name="pswd2" type="password"
                    placeholder="Confirm Password" required maxlength="25">
            </div>
            
            <br>

            

            


            <!-- <input type="hidden" value="Intl" name="transfer_type"> -->
            
            <p  style="text-decoration: underline;cursor:pointer"   onclick = "toggleAuthForms(1)" class="w3-medium w3-center w3-block" > Sign In Instead </p>

            <input
                style="width: 70%;max-width: 400px;background-color: darkgreen;font-weight: bold;color: white;border-radius: 4px;"
                type="submit" value="Sign Up" class="w3-button  w3-padding-16 w3-margin-top">





        </form>




{% endblock body %}