<!DOCTYPE html>
<html lang="en">
  <base href="/static/main/">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport">


    <title>FRUGAL FX</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">




  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">


          <a href=""><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto"
                 href="/users/new/">Get Started</a>
            </li>
          </ul>
          <script type="text/javascript"
            src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
          <div id="coinmarketcap-widget-marquee" coins="1,1027,825,2010,6636,52" currency="USD"
            theme="light" transparent="true" show-symbol-logo="true"></div>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Grow your income with Frugal FX</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">A simple, fast and trust worthy Crypto
              investment Platform</h2>
            <div data-aos="fade-up" data-aos-delay="800">
              <a href="/users/new/"
                 class="btn-get-started scrollto">Get
                Started</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left"
            data-aos-delay="200">
            <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= Clients Section ======= -->

      <div class="Marquee-box">
        <marquee class="MyMarquee" id="my_marquee" direction="left" behavior="12" scrollamount="6"
          onmouseover="this.stop()" onmouseout="this.start()">
          <div><img src="https://www.fxinvestor.net/static/main/img/clients/24351.png" width="120"
              height="80" alt="marquee image"></div>
          <div><img src="https://www.fxinvestor.net/static/main/img/clients/2.png" width="120"
              height="100" alt="marquee image"></div>
          <div><img src="https://www.fxinvestor.net/static/main/img/clients/5.png" width="120"
              height="100" alt="marquee image"></div>
          <div><img src="https://www.fxinvestor.net/static/main/img/clients/6.png" width="120"
              height="100" alt="marquee image"></div>
          <div><img src="https://www.fxinvestor.net/static/main/img/clients/4.png" width="120"
              height="100" alt="marquee image"></div>
          <div><img
              src="https://cryptodiffer.com/src/images/person/cryptoinfluenceaward%20cryptodiffer.png"
              width="90" height="80" alt="marquee image"></div>
          <div><img src="https://assets.wam.ae/uploads/2020/10/278445599757216951.jpg" width="120"
              height="100" alt="marquee image"></div>
          <div><img
              src="http://s3.amazonaws.com/bizenglish/wp-content/uploads/2019/09/11161758/The-Award-CDB.jpg"
              width="120" height="90" alt="marquee image"></div>
          <div><img src="https://i.pinimg.com/236x/ed/0a/60/ed0a600bf3bf9cdd88f9ccf0d8df2a9f.jpg"
              width="120" height="100" alt="marquee image"></div>
          <div><img
              src="https://www.fidelity.com/bin-public/060_www_fidelity_com/images/why-fidelity/BOB-award-logo.png"
              width="120" height="100" alt="marquee image"></div>
          <div><img
              src="https://www.business24-7.ae/wp-content/uploads/2020/05/24-broker-awards8.jpg"
              width="120" height="100" alt="marquee image"></div>
          <div><img
              src="https://www.interactivebrokers.co.uk/images/2015/award-benzinga-best-online-broker-2019.png"
              width="120" height="100" alt="marquee image"></div>
        </marquee>
      </div>


      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                All our activities are based on the interest to maximize the return for our
                partners, while minimizing the
                risks involved. Time is valuable, but it is even more valuable on the cryptocurrency
                market. Do not waste
                your time, join us!
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Simple signup</li>
                <li><i class="ri-check-double-line"></i> Fast Deposit</li>
                <li><i class="ri-check-double-line"></i> Easy Cashout</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <p>
                We continuously research and integrate effective trading patterns. Our innovative
                approaches have
                attracted to us a number of top traders who demonstrate excellent long term
                performance. We also monitor
                the growing market of cryptocurrency, the list of the currencies used in work
                constantly extends. We
                invite you to join us on this journey! With investment support, we can not only
                expand our borders, but
                also increase returns. We have all the necessary tools, intellectual and temporal
                resources to manage the
                assets of our investors.
              </p>
              <a href="http://www.frugalfx.com/users/new/" class="btn-learn-more">Signup</a>
            </div>
          </div>

        </div>
      </section><!-- End About Us Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container">

          <div class="row">
            <div
              class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
              data-aos="fade-right" data-aos-delay="150">
              <img src="assets/img/counts-img.svg" alt="" class="img-fluid">
            </div>

            <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left"
              data-aos-delay="300">
              <div class="content d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span data-purecounter-start="0" data-purecounter-end="2534"
                        data-purecounter-duration="1" class="purecounter"></span>
                      <p><strong>Happy Investors</strong></p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bx bx-dollar"></i>
                      <span data-purecounter-start="0" data-purecounter-end="85345"
                        data-purecounter-duration="1" class="purecounter"></span>
                      <p><strong>Withdrawn</strong> </p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-clock"></i>
                      <span data-purecounter-start="0" data-purecounter-end="10"
                        data-purecounter-duration="1" class="purecounter"></span>
                      <p><strong>Years of experience</strong></p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-award"></i>
                      <span data-purecounter-start="0" data-purecounter-end="12"
                        data-purecounter-duration="1" class="purecounter"></span>
                      <p><strong>Awards</strong> </p>
                    </div>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>

        </div>
      </section><!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Reliability</h2>
            <p>BE ONE STEP AHEAD AND IMPROVE YOUR TRADING RESULTS WITH OUR INDUSTRY-LEADING
              TECHNOLOGY.</p>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bl bi-shield-lock"></i></div>
                <h4 class="title"><a href="">Privacy</a></h4>
                <p class="description">Protection against third party attacks and full data
                  encryption</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Speed</a></h4>
                <p class="description">You can buy cryptocurrency and digital assets in minutes.
                </p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-sync"></i></div>
                <h4 class="title"><a href="">Cash</a></h4>
                <p class="description">
                  Earn profit rigorously without the need of leaving your comfort zone easily by
                  investing with us
                </p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bl bi-file-bar-graph"></i></div>
                <h4 class="title"><a href="">Profitable</a></h4>
                <p class="description">Performance statistics, including Requote, Slippage and Order
                  Execution, checked
                  and Reguated.</p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Services Section -->

      <!-- ======= More Services Section ======= -->
      <section id="more-services" class="more-services">
        <div class="container">

          <div class="row">
            <script type="text/javascript"
              src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
            <div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD"
              data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true"
              data-volume="true" data-statsticker="true" data-stats="USD"></div>
          </div>

        </div>
      </section><!-- End More Services Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Mining Calculator</h2>
            <p>Access our miners calculator for pro miners only</p>
          </div>

          <!-- CryptoRival Calculator Widget BEGIN -->
          <script type="text/javascript"
            src="https://static.cryptorival.com/js/calcwidget.js"></script>
          <a id="cr-copyright" href="https://cryptorival.com/" target="_blank"
            rel="nofollow">Powered by Fugral FX</a>
          <script type="text/javascript">
            showCalc('bitcoin', '500', false, '0', 'f93', 'f93', 'f93', '4e9f15', '09c', 'f0ad4e', 'd9534f', 'f5f5f5', 'eee');
          </script>
          <!-- CryptoRival Calculator Widget END -->
        </div>

        </div>
      </section><!-- End Features Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2 style="color: beige;">Testimonials</h2>
            <p style="color: beige;">How we've touched our investors</p>
          </div>

          <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100"
            style="color: rgb(0, 0, 0);">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img"
                      alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Employee</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      giving our business a trial is what you will never regret a lot of people are
                      no longer in lack of
                      anything thanks to us,we are here to help and serve the nation, very soon
                      BITCOIN is going to take
                      over in the future that's the main reason we are training people and helping
                      them to invest in there
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
                      alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Investor</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      hello to who so ever is reading,BITCOIN has really helped a lot of people
                      doing the COVID19
                      situation, let me say more than 9 million people so far, and got me to this
                      place so i would advise
                      you to invest with the company and see how it's going to change your life for
                      good
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
                      alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Investor</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      hi guys,how you doing i guess you are okay,i just want to tell you BITCOIN
                      have really helped me in
                      many ways,you should give it a trial you can make up to $30,000 in just two
                      days and i make more
                      than a $60,000 monthly and i hope you give it a trial also and see what i'm
                      talking about there is
                      no harm in trying what you don't no give a trial and see for yourself...
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->





            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </section><!-- End Testimonials Section -->


      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>Meet Our amazing Team</p>
          </div>

          <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Team Section -->

      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container">

          <div class="section-title">
            <h2>Pricing</h2>
            <p>Get started with the Plan that best suits you</p>
          </div>

          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
                <h3>Basic</h3>
                <h4><sup>$</sup>500<span></span></h4>
                <ul>
                  <li>Monthly ROI</li>
                  <li>Capital Security</li>
                  <li>Refundable</li>
                  <li class="na">100% Bonus</li>
                  <li class="na">Pre-Withdrawal</li>
                </ul>
                <div class="btn-wrap">
                  <a href="http://frugalfx.com/users/new/" class="btn-buy">Invest </a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                <h3>Business</h3>
                <h4><sup>$</sup>1000<span></span></h4>
                <ul>
                  <li>Monthly ROI</li>
                  <li>Capital Security</li>
                  <li>Refundable</li>
                  <li>100% Bonus</li>
                  <li class="na">Pre-Withdrawal</li>
                </ul>
                <div class="btn-wrap">
                  <a href="http://frugalfx.com/users/new/" class="btn-buy">Invest Now</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
                <h3>Professional</h3>
                <h4><sup>$</sup>5000<span></span></h4>
                <ul>
                  <li>Monthly ROI</li>
                  <li>Capital Security</li>
                  <li>Refundable</li>
                  <li>100% Bonus</li>
                  <li>Pre-Withdrawal</li>
                </ul>
                <div class="btn-wrap">
                  <a href="http://frugalfx.com/users/new/" class="btn-buy">Invest Now</a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Pricing Section -->


      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Frequently Asked Questions</h2>
          </div>

          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up"
            data-aos-delay="100">
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>What is cryptocurrency??</h4>
            </div>
            <div class="col-lg-7">
              <p>
                Bitcoin is a cryptocurrency. It is a decentralized digital currency without a
                central bank or single
                administrator that can be sent from
                user to user on the peer-to-peer bitcoin network without the need for
                intermediaries.
              </p>
            </div>
          </div><!-- End F.A.Q Item-->



          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up"
            data-aos-delay="300">
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>How can i Register New Account?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                To register a new account, simply click on the “Sign Up” link and fill out
                the required information.
              </p>
            </div>
          </div><!-- End F.A.Q Item-->

          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up"
            data-aos-delay="400">
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>How do i request for withdrawal?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                You can request a withdrawal by clicking the “Withdraw” button in the member's area
                and entering the
                amount you want to withdraw.
              </p>
            </div>
          </div><!-- End F.A.Q Item-->

          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up"
            data-aos-delay="500">
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>Can i Change Payment Address?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                You can change your payment withdrawal address by clicking the “Settings” button on
                the menu after logging
                in to your account. Enter your new payment address and save the changes.
              </p>
            </div>
          </div><!-- End F.A.Q Item-->

        </div>
      </section><!-- End F.A.Q Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact section-bg2">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2 style="color: beige;">Contact Us</h2>
          </div>

          <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="contact-about">
                <h3 style="color: beige;">FRUGAL FX</h3>
                <p style="color: beige;">Safe Crypto Investment.</p>
                <div class="social-links">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
              <div class="info">
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p style="color: beige;">A108 Adam Street<br>New York, NY 535022</p>
                </div>

                <div>
                  <i class="ri-mail-send-line"></i>
                  <p style="color: beige;">info@frugalfx.com</p>
                </div>

                <div>
                  <i class="ri-phone-line"></i>
                  <p style="color: beige;">+1 5589 55488 55s</p>
                </div>

              </div>
            </div>

            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name"
                    placeholder="Your Name" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email"
                    placeholder="Your Email" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject"
                    placeholder="Subject" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message"
                    required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading" style="color: beige;">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message" style="color: beige;">Your message has been sent. Thank
                    you!</div>
                </div>
                <div class="text-center" style="color: beige;"><button type="submit">Send
                    Message</button></div>
              </form>
            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright <strong>
                <fieldset>Frugal FX</fieldset>
              </strong>. All Rights Reserved
            </div>
            <div class="credits">

              Designed by <a>Hack' Initiative</a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="http://frugalfx.com/" class="scrollto">Home</a>
              <a href="http://frugalfx.com/#about" class="scrollto">About</a>
              <!-- <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a> -->
            </nav>
          </div>
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>


    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
      var _smartsupp = _smartsupp || {};
      _smartsupp.key = 'ce50df0f2ffe89ad4c4ddb9a63ae9475a802c6c0';
      window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
      })(document);
    </script>


  </body>

</html>
